body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a1caff;
    cursor: pointer;
    margin: 0;
}
.image-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}